BeautifulSoup==3.2.1
Django==1.6.4
South==0.8.4
django-annoying==0.7.9
django-oauth-tokens==0.3.12
django-picklefield==0.3.1
django-taggit==0.12
django-twitter-api==0.1.4
psycopg2==2.5.2
python-dateutil==2.2
requests==1.2.0
six==1.6.1
tweepy==2.3.0
tyoi.OAuth2==0.2.1
wsgiref==0.1.2
